.contacts-background {
  background-color: $color-background-parcours;
  color: white;
}

.contacts__container {
  max-width: 90%;
  margin-inline: auto;
  padding-bottom: 10rem;
  h2 {
    margin: $margin-h2-top-left-bottom-right;
  }
}

.contacts-flex {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  gap: 3rem;

  font-size: 5rem;

  li {
    color: rgb(211, 211, 211);
    border: 2px solid rgb(211, 211, 211);
    padding: 3rem;
    border-radius: 1rem;
    background-color: rgba(48,58,60, 0.95);
    box-shadow: 0 0.5rem 30px 10px rgba(0, 0, 0, 0.24);

    &:hover {
      cursor: pointer;

      animation: giggle 0.65s ease-in-out;


        
      }
    }
  }


  @keyframes giggle {
    0% {
      transform: rotate(40deg) translate(0, -1%);
    };
    20% {
      transform: rotate(-40deg) translate(0, -2%);
    };
    40% {
      transform: rotate(15deg) translate(0, -5%);
    };
    60% {
      transform: rotate(-15deg) translate(0, -2%);
    };
    80% {
      transform: rotate(5deg) translate(0, -1%);
    };
    100% {
      transform: rotate(-5deg) translate(0, 0);
    };
  
}