html {
  scroll-behavior: smooth;
}


// PARALLAX ========================================================================================
// =================================================================================================
.body-hide-overflow {
  overflow: hidden;
}

.parallax__container {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
  perspective: 10px;
}

// ----------------------------------------------------------------

.parallax__group {
  position: relative;
  transform-style: preserve-3d;
  z-index: -2;
  height: 100vh;
}

.parallax__group::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../img/pexels-artem-saranin-1202840.jpg");
  background-size: cover;
  background-position: 50% 50%;
  transform: translateZ(-9px) scale(1.95);
  min-height: 100vh;
}

// ----------------------------------------------------------------

.parallax__heading {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translateZ(-7px) scale(1.2);
}

main {
  background-color: $color-background-gray;
}

// ABOUT ME ========================================================================================
// =================================================================================================

.container-aboutme {

  .aboutme {
    isolation: isolate;
    padding: 2rem 1rem;
    display: grid;
    gap: 0.5rem;
    h2 {
      margin-left: $margin-about-me-left-h2;
    }

    h3 {
      margin-left: calc($margin-about-me-left-h2 * $margin-about-me-left-h3-multiplier);
      line-height: $font-line-height-h3;
      margin-top: 1rem;
    }
    p {
      margin: 1rem 2rem;
    }

    figure {
      position: relative;
      margin: 3rem 2rem;
      grid-row: 2 / 3;
      justify-self: end;
      max-width: 45%;

      &::after {
        z-index: -1;
        content: "";
        position: absolute;
        background-color: peru;
        top: 55%;
        left: 10%;
        transform: translate(-50%, -50%);
        width: 120%;
        height: 100%;
      }
    }
    // ----------------------------------------------------------------
    .aboutme__container-buttons {
      @include flex-modulable(null, center, null, 20%);
      margin: 2rem 0;
    }

    img {
      aspect-ratio: 0.8 / 1;
      box-shadow: -0.5rem 0.5rem 4px 0 $shadow-color-shadow-light;
    }
  }
}

.container-aboutme {
  @media only screen and (min-width: 880px) {
    max-width: 85%;
    margin-inline: auto;

    .aboutme {
      @include grid-column(repeat(2, 1fr), 3rem, 3rem);
      h3 {
        margin-top: 1.3rem;
      }

      p {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
      }

      figure {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        max-width: 60%;
      }

      .aboutme__container-buttons {
        grid-column: 1 / 3;
      }
    }
  }

  @media only screen and (min-width: 1550px) {
    max-width: 75%;
  }
}

// PORTFOLIO ========================================================================================
// =================================================================================================
.portfolioBackground {
  padding-top: 1rem;
  background-color: rgb(218, 216, 213);
}
.portfolior__container {
  isolation: isolate;

  max-width: 90%;
  margin-inline: auto;

  @media only screen and (min-width: 880px) {
    max-width: 80%;
  }
  @media only screen and (min-width: 1280px) {
    max-width: 90%;
  }

  h2 {
    margin: 2rem 0 2rem $margin-about-me-left-h2;
  }
}
// ------------------------------------------------
.portfolio__grid {
  @include grid-column(1fr, null, 4rem);

  @media only screen and (min-width: 1280px) {
    @include grid-column(repeat(2, 1fr), 5rem, 4rem);
  }
}

// ------------------------------------------------
.portfolio__article {
  position: relative;
  display: grid;
  overflow: hidden;

  padding: 15px;
  background-color: white;
  box-shadow: -0.5rem 0.5rem 4px 8px $shadow-color-shadow-light;

  > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  figure {
    overflow: hidden;
    img {
      aspect-ratio: 1 / 0.6;
      transition: transform .9s ease-in-out;

      &:hover {
        transform: scale(1.03) translate(2%, -15%);

       

      @media only screen and (min-width: 1280px) {
        aspect-ratio: 1 / 0.8;
        }
      }
    }
  }
}

// ------------------------------------------------
.portfolio__article-descriptif {
  display: grid;
  justify-items: center;
  grid-auto-rows: max-content;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 90px;
  transition: 0.5s ease;

  background-color: rgb(23, 116, 139, 0.95);
  border-radius: 1rem 1rem 0 0;
  color: white;

  transition: height 0.5s ease-in-out;

  h3 {
    margin: 0.5rem 0 1.3rem 0;
  }
  .project__tech-general {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 100%;

    margin: 1rem 0;

    li {
      font-size: 0.9rem;
      padding: 0.3rem 1.2rem;

      color: $color-project-font-border-tech;
      border: 1px solid $color-project-font-border-tech;
      border-radius: 0.4rem;
    }
  }
  p {
    max-width: 85%;
    margin: 1rem 0;
  }
}

// ------------------------------------------------
.portfolio__article-link-to-site {
  margin: 2rem 0;
  padding: 0.5rem 1.3rem;

  font-family: $font-smooth-sans;
  font-size: 1.1rem;
  letter-spacing: $font-letter-spacing-h2;
  text-transform: uppercase;
  font-weight: 600;

  color: rgb(7, 7, 7);
  background-color: white;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 0.4rem;
}

//------------------------------------------------
//------------------------------------------------
//JS CLASS
.js-activate-descriptif {
  height: 90%;
  transition: height 0.5s ease-in-out;
}

// TEMP ========================================================================================
// =================================================================================================
.tempcontent {
  background-color: rgb(109, 103, 103);
  color: white;
  font-size: 1.3rem;
}

.contenttemp {
  padding: 2rem;
}
