$navbar-pos-offset: 30px;
$navbar-li-height: 60px;
$navbar-li-width: 240px;

$transition-navbar-open: 0.5s;

nav {
  position: fixed;
  z-index: 1;
  top: $button-burger-pos-top;
  // right: 100px;
  right: $button-burger-pos-right;

  //------------------------------------------------
  ul {
    font-family: $font-molot;
    letter-spacing: $font-letter-spacing-navbar;
    color: $color-font-navbar;
  }
}
//------------------------------------------------
.menu-general-a {
  @include flex-modulable(null, right, null);
  position: absolute;
  top: 0;
  right: 0;

  width: $button-burger-line-width;
  height: $button-burger-line-height;

  font-size: 0;

  transition: all .2s;

  &:hover {
    right: 10px;
    transition: all 0.15s;
  }
}
.menu-pos0 {
  top: 12px;
  background-color: white;
}
.menu-pos1 {
  top: 12px;
  background-color: white;
}
.menu-pos2 {
  top: 12px;
  background-color: white;
}
.menu-pos3 {
  top: 12px;
  background-color: white;
}

//------------------------------------------------
//------------------------------------------------
//------------------------------------------------
// JS CLASS ONCLICK


.js-menu-open {
  height: $navbar-li-height;
  width: $navbar-li-width;

  font-size: $font-size-navbar;
  padding: 5px 20px 0 0;

  transition: font-size 0.2s 0.8s;
}

.js-menu-open-pos0 {
  top: calc($button-burger-pos-top + $navbar-pos-offset);
  background-color: rgba(22, 166, 202);


  transition: all $transition-navbar-open .35s, right 0.15s;
}
.js-menu-open-pos1 {
  top: calc($button-burger-pos-top + $navbar-pos-offset + ($navbar-li-height));
  background-color: rgb(23, 116, 139);

  transition: all $transition-navbar-open .25s, right 0.15s;
}
.js-menu-open-pos2 {
  top: calc($button-burger-pos-top + $navbar-pos-offset + ($navbar-li-height * 2));
  background-color: rgb(173, 127, 80);

  transition: all $transition-navbar-open .15s, right 0.15s;
}
.js-menu-open-pos3 {
  top: calc($button-burger-pos-top + $navbar-pos-offset + ($navbar-li-height * 3));
  background-color: rgb(109, 50, 43);
  height: 120px;

  transition: all $transition-navbar-open calc(.1s), right 0.15s;
}

@for $i from 0 through 3 {
  .js-menu-open-pos#{$i} {
    box-shadow: -0.8rem 0.8rem 5px 0 $shadow-color-shadow-navbar;
  }
}


//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//------------------------------------------------
//------------------------------------------------
//------------------------------------------------
// MEDIA
@media only screen and (min-width: 1024px) {
  .nav-center {
    nav {
      margin-left: $margin-nav-left;
      width: 60%;
      background-color: rgba(255, 255, 255, 0);
      ul {
        @include flex-modulable(row, space-around, null, 3rem);

        margin-top: 0.5rem;
        padding-bottom: 0;
      }
    }
  }
}
//------------------------------------------------
//------------------------------------------------
//------------------------------------------------
// used if browser support the setting, yet firefox seem to support it
// but still doesnt display the blur.
// @supports (backdrop-filter: blur(6px)) {
//   nav {
//     background-color: rgba(0, 0, 0, 0.651);
//     backdrop-filter: blur(6px);
//   }
// }
