nav {
  position: fixed;
  z-index: 1;
  top: $button-burger-pos-top;
  right: $button-burger-pos-right;
  // right: 100px;


  //------------------------------------------------
  ul {
    font-family: $font-molot;
    letter-spacing: $font-letter-spacing-navbar;
    color: $color-font-navbar;
  }
}
//------------------------------------------------
.menu-general-a {
  @include flex-modulable(null, flex-end, null);
  position: absolute;
  top: 0;
  right: 0;

  width: $button-burger-line-width;
  height: $button-burger-line-height;

  // transition when closing
  transition: background $transition-navbar-close, top $transition-navbar-close, width $transition-navbar-close,
    height $transition-navbar-close, font-size 0.1s;
}

.menu-pos0 {
  top: 0;
  background-color: white;
}
.menu-pos1 {
  top: 12px;
  background-color: white;
}
.menu-pos2 {
  top: 24px;
  background-color: white;
}
.menu-pos3 {
  top: 24px;
  background-color: white;
}

// apply to all <a
@for $i from 0 through 3 {
  .menu-pos#{$i} {
    font-size: 0;

    &:hover {
      right: 15px;
      // for some reasons need to setup all transition again on the over
      // otherwise only the "move left" animation is took into account ( if that's the only one setup )
      // and it cut all others animations !?
      transition: background $transition-navbar-close, top $transition-navbar-close, width $transition-navbar-close,
        height $transition-navbar-close, font-size 0.2s ease-in, right 0.2s;
    }
  }
}

//------------------------------------------------
//------------------------------------------------
//------------------------------------------------
// JS CLASS ONCLICK

.js-menu-open {
  height: $navbar-li-height;
  width: $navbar-li-width;
  padding: 5px 20px 0 0;
}

.js-menu-open-pos0 {
  background-color: rgba(104, 119, 146, 0.95);
}
.js-menu-open-pos1 {
  background-color: rgba(99, 106, 119, 0.95);
}
.js-menu-open-pos2 {
  background-color: rgba(84, 85, 88, 0.95);
}
.js-menu-open-pos3 {
  background-color: rgba(45, 45, 46, 0.95);
  height: 140px;
}
// apply to all <a
@for $i from 0 through 3 {
  .js-menu-open-pos#{$i} {
    font-size: $font-size-navbar;
    top: calc($button-burger-pos-top + $navbar-pos-offset + (($navbar-li-height * $i)));
    box-shadow: -0.8rem 0.8rem 10px 0 $shadow-color-shadow-navbar;

    // transition when opening
    transition: background
        $transition-navbar-open
        ease-out
        calc($transition-navbar-a-apparition-later-delay - ($i * 0.1s)),
      top $transition-navbar-open ease-out calc($transition-navbar-a-apparition-later-delay - ($i * 0.1s)),
      height $transition-navbar-open ease-out calc($transition-navbar-a-apparition-later-delay - ($i * 0.1s)),
      width $transition-navbar-open ease-out calc($transition-navbar-a-apparition-later-delay - ($i * 0.1s)),
      font-size $transition-font-size-duration $transition-font-size-delay, right 0.2s;
  }
}

// .background-color {
//   padding: 100vh 100vw;
//   background-color: rgba(196, 193, 193, 0.692);
// }

//------------------------------------------------
//------------------------------------------------
//------------------------------------------------
// MEDIA
// @media only screen and (min-width: 1024px) {
//   .nav-center {
//     nav {
//       margin-left: $margin-nav-left;
//       width: 60%;
//       background-color: rgba(255, 255, 255, 0);
//       ul {
//         @include flex-modulable(row, space-around, null, 3rem);

//         margin-top: 0.5rem;
//         padding-bottom: 0;
//       }
//     }
//   }
// }

//------------------------------------------------
//------------------------------------------------
//------------------------------------------------
// used if browser support the setting, yet firefox seem to support it
// but still doesnt display the blur.
// @supports (backdrop-filter: blur(6px)) {
//   nav {
//     background-color: rgba(0, 0, 0, 0.651);
//     backdrop-filter: blur(6px);
//   }
// }
