// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

// ----------------------------------------------------------------

.button-general {
  cursor: pointer;
  text-decoration: none;

  border: none;
  padding: 1.5rem;
  width: 9rem;

  font-weight: 600;
  font-size: 1rem;

  box-shadow: -0.3rem 0.3rem 4px 0 $shadow-color-shadow-light;

  transition: 0.2s ease-in-out;
}

.aboutme__button-cv {
  background-color: $shadow-color-aboutme;
  color: white;
}

.aboutme__button-cv:hover {
  box-shadow: -0.3rem 0.5rem 0 rgba(66, 66, 66, 0.445);
  transform: translate(0, -5%);
}
.aboutme__button-cv:active {
  background-color: rgb(7, 82, 100);
}

.aboutme__button-contact:hover {
  // box-shadow: 1.5rem 0.5rem 0 rgba(58, 56, 56, 0.445);
  // transform: translate(0, -5%);
  box-shadow: -0.3rem 0.5rem 0 rgba(66, 66, 66, 0.445);
  transform: translate(0, -5%);
}

// ----------------------------------------------------------------
// ----------------------------------------------------------------
// ----------------------------------------------------------------
// BURGER BUTTON

.burger-button {
  z-index: 10;

  position: fixed;
  top: $button-burger-pos-top;
  right: $button-burger-pos-right;
  padding: 17px calc($button-burger-line-width / 2);
  cursor: pointer;

  &::before,
  &::after {
    z-index: 3;
    content: "";
    position: absolute;
    top: 12px;
    left: 0;

    height: $button-burger-line-height;
    width: 100%;

    background-color: transparent;

    transition: transform $button-burger-transition-time ease-in 0s, background 0.1s ease 0.1s;
  }
}
//------------------------------------------------
// JS CLASS

.js-burgerButtonChange {
  &::before,
  &::after {
    background-color: $button-burger-background-color;
    transition: transform $button-burger-transition-time ease-in 0.45s, background 0.1s ease-in-out 0.4s;
  }

  &::before {
    transform: rotate(-45deg);
  }
  &::after {
    transform: rotate(45deg);
  }
}

// ----------------------------------------------------------------
// ----------------------------------------------------------------
// ----------------------------------------------------------------
// ARROW BUTTON 

.portfolio__article-arrow {
  position: relative;
  width: 100px;
  height: 40px;
  
  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 40%;
    top: 30%;
    
    width: 0.3rem;
    height: 1.6rem;
    background: white;
    transform: rotate(-135deg);
    transition: 0.5s transform;
  }
  &:after {
    transform: rotate(135deg);
    left: 55%;
  }

  &:hover {
    cursor: pointer;
  }
}

//------------------------------------------------
// JS CLASS
.js-arrow-activate {
  &:before {
    transform: rotate(-45deg);
  }
  &:after {
    transform: rotate(45deg);
  }
}

// OLD ==================================================
// .burger-button {
//   z-index: 10;

//   position: fixed;
//   top: $button-burger-pos-top;
//   right: $button-burger-pos-right;

//   height: $button-burger-line-height;
//   width: $button-burger-line-width;
//   padding: 12px 0;

//   cursor: pointer;
//   background-color: $button-burger-background-color;
//   background-clip: content-box;
//   box-sizing: content-box;

//   transition: background 50ms ease-in-out $button-burger-transition-delay;

//   &::before,
//   &::after {
//     z-index: 3;
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: $button-burger-line-height;
//     width: 100%;
//     background-color: $button-burger-background-color;

//     transition: top $button-burger-transition-time ease-in $button-burger-transition-delay,
//       transform $button-burger-transition-time ease-in 0s;
//   }
//   &::before {
//     top: 0;
//   }
//   &::after {
//     top: 83%;
//   }
// }

// //------------------------------------------------
// //------------------------------------------------
// //------------------------------------------------
// // JS CLASS

// .js-burgerButtonChange {
//   background-color: transparent;

//   &::before,
//   &::after {
//     transition: top $button-burger-transition-time ease-in 0s, transform $button-burger-transition-time ease-in 0.45s;
//     top: 50%;
//   }

//   &::before {
//     transform: rotate(-45deg);
//   }
//   &::after {
//     transform: rotate(45deg);
//   }
// }
