// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  color: $brand-color;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: none;
  }
}

// ---------------------------------------------------------------------------

ul,
li,
p,
h1,
h2,
h3,
h4,
img,
figure,
article,
section,
main,
header,
nav,
footer,
a,
body,
html {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  color: unset;
}

// ---------------------------------------------------------------------------

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.img-general-style {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.general-h1 {
  font-family: $font-molot;
  letter-spacing: calc($font-letter-spacing-navbar * 2);
  color: $color-font-parallax-title;
  font-size: $font-size-parallax-title;

  &::first-letter {
    font-size: calc($font-size-parallax-title * 1.5);
  }
}

.general-h2 {
  font-family: $font-smooth-sans;
  font-size: $font-size-h2;
  letter-spacing: $font-letter-spacing-h2;
  font-weight: 800;

  &::first-letter {
    font-size: calc($font-size-h2 * 1.2);
  }
}

.general-h3 {
  font-family: $font-smooth-sans;
  font-size: $font-size-h3;
  letter-spacing: $font-letter-spacing-h2;
  font-weight: 600;
}

.general-h4 {
  font-family: $font-smooth-sans;
  font-size: $font-size-h4;
  letter-spacing: $font-letter-spacing-h2;
  font-weight: 500;
}

.general-p {
  font-family: $font-smooth-sans;
  font-size: $font-size-p;
  font-weight: 600;
  line-height: $font-line-height-p;
}
